/* Container utility classes for consistent spacing across the app */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.container-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.container-narrow {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
